<!--
  ~ Copyright (c) 2024, Xuelei Fan. All rights reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  -->

<!-- spring-config.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define FxNewsProvider bean -->
    <bean id="someClass" class="cn.imcompany.bean.SomeClass">
        <!-- Inject dependencies if any -->
        <property name="accounts">
            <map>
                <entry key="one" value="2.11"/>
                <entry key="two" value="1.22"/>
                <entry key="six" value="87.1"/>
            </map>
        </property>
    </bean>

</beans>
