<!--
  ~ Copyright (c) 2024, Xuelei Fan. All rights reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  -->

<!-- spring-config.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Define FxNewsProvider bean -->
    <bean id="spc" class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
        <!-- Inject dependencies if any -->
        <property name="locations">
            <list>
                <value>conf/jdbc.properties</value>
                <value>conf/mail.properties</value>
            </list>
        </property>
    </bean>

    <bean id="propertyOverrideConfigure" class="org.springframework.beans.factory.config.PropertyOverrideConfigurer">
        <property name="location" value="conf/pool-adjustment.properties"/>
    </bean>

    <bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
        <property name="maxTotal" value="100"/>
        <property name="maxIdle" value="10"/>
    </bean>

    <bean id="dateFoo" class="cn.imcompany.property.DateFoo">
        <property name="date" value="2024/10/11"/>
    </bean>
    
    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="java.util.Date" value="cn.imcompany.property.DatePropertyEditor"/>
            </map>
        </property>
    </bean>

</beans>
