<!--
  ~ Copyright (c) 2024, Xuelei Fan. All rights reserved.
  ~ DO NOT ALTER OR REMOVE COPYRIGHT NOTICES OR THIS FILE HEADER.
  -->

<!-- spring-config.xml -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="fooZoo" class="cn.imcompany.factory.Foo">
        <!-- Inject dependencies if any -->
        <property name="zooInterface" ref="zooInterface"/>
    </bean>

    <bean id="zooInterfaceFactory" class="cn.imcompany.factory.ZooInterfaceFactory" />
    <bean id="zooInterface" factory-bean="zooInterfaceFactory" factory-method="getInstance"/>
</beans>
